
<div class="content">
    <table mat-table *ngIf="(joueurEnCours$ | async) as joueurEnCours" [dataSource]="joueurs$ | async" class="mat-elevation-z8">
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let element">
                <div class="example-button-container">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="ajouterPoint(element)">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="retirerPoint(element)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>    
        </td>
    </ng-container>

    <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{element.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">{{element.score}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" (click)="changerImage()">Changer d'image</button>

</div>